.main-crypto-api-keys {
    display: flex;
    margin: 1%;
}

.cards-user-crypto-keys {
    justify-content: space-between;
}

.card-user-crypto-keys {
    width: 20%;
    margin: 1%;
}

.card-body {
    margin: 0 auto;
}

.button-open-form {
    margin: auto;
}

.button-add-api-keys {
    display: flex;
    justify-content: center;
}

.user-havent-keys {
    width: 100%;
    height: 100vh;
}

.open-form-api-keys {
    border-style: dotted;
    border-radius: 10%;
    width: 30%;
}

.form-api-keys {
    width: 100%;
}

.button-close-form {
    display: flex;
    justify-content: end;
    margin-right: 5%;
    margin-top: 1%;
}

.form-api-keys .card-form {
    width: 100%;
    justify-content: space-around;
    margin: 0;
}

.form-group {
    width: 45%;
}

.check-box-testnet {
    margin-top: 7%
}

.button-open-form, .user-havent-keys {
    justify-content: center;
    align-content: center;
}

.button-open-form, .user-havent-keys, .form-api-keys .card-form, .cards-user-crypto-keys {
    display: flex;
    flex-wrap: wrap;
}