.mainCryptoApiKeys {
    display: flex;
    margin: 1%;
}

.cardsUserCryptoKeys {
    justify-content: space-between;
}

.cardUserCryptoKeys {
    width: 20%;
    margin: 1%;
}

.cardBody {
    margin: 0 auto;
}

.buttonOpenForm {
    margin: auto;
}

.buttonAddApiKeys {
    display: flex;
    justify-content: center;
}

.userHaventKeys {
    width: 100%;
    height: 100vh;
}

.openFormApiKeys {
    border-style: dotted;
    border-radius: 10%;
    width: 30%;
}

.formApiKeys {
    width: 100%;
}

.buttonCloseForm {
    display: flex;
    justify-content: end;
    margin-right: 5%;
    margin-top: 1%;
}

.formApiKeys .cardForm {
    width: 100%;
    justify-content: space-around;
    margin: 0;
}

.formGroup {
    width: 45%;
}

.checkBoxTestnet {
    margin-top: 7%
}

.buttonOpenForm, .userHaventKeys {
    justify-content: center;
    align-content: center;
}

.buttonOpenForm, .userHaventKeys, .formApiKeys .cardForm, .cardsUserCryptoKeys {
    display: flex;
    flex-wrap: wrap;
}